<html>
	<head>
		<title>HaWay Domain Registrar</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <meta charset="utf-8">
	</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


<h2><div class="alert alert-success" role="alert"><p>Hi {{ username }}, Nice to see you again!</p></div></h2>


<div>
<p>Your Personal Data in DB:</p>
{% for contact in Contacts_list %}
	<div>
		Name: {{ contact.family }}<br>
		Email: {{ contact.email }} <br>
		Address(EN): {{ contact.enaddr }}<br>
		Address(ZH): {{ contact.zhaddr }}<br> Phone: {{ contact.phone }}
	</div>
{% endfor %}
</div>

<br />
<hr>
<br />

<div>
    <div class="form-group">
        <label name="qdomain" class="form-check-label">Query Domain Name:</label><br />
    </div>

    <div class="input-group col-8">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">www.</span>
        </div>
        <input type="text" name="qdomain" id='qdomain' class='form-control' size="63" maxlength="63" placeholder="yourname">
	    <select name='tld' id='tld' class="custom-select col-2">
		    {% for tld in TLDs %}
		    <option value="{{tld}}">{{tld}}</option>
		    {% endfor %}
	    </select>
	    <button type="button" id='bDNQuery' class="btn btn-outline-primary">Query</button>
    </div>
</div>

	<script>
		$( document ).ready(function(){
			$( '#bDNQuery' ).click(function(){
				fqdn = $( '#qdomain' ).val();
				tld = $( '#tld' ).val();
				$.ajax({ 
					url: "/jDNQuery/"+fqdn+tld,
					dataType: "json",
				})
				.done( function( result ){
					$.each( result, function( fqdn, dnstatus ){
						if ( dnstatus == "available" ){
								$( '#dnstatus' ).html("<h3>"+fqdn+" available, <a href='/preDNCreate/"+fqdn+"'>Register NOW</h3>");
						}else{
								$( '#dnstatus' ).html("<h3>"+fqdn+" Unavailable, :( </h3>");
						}
					});
				});

			});
		});
	</script>

	<div id='dnstatus'>
	</div>
	
</div>

<br />
<hr>

<div>
	<h3>Your Domain name list:</h3><br />
    <table class="table">
      <thead class="thead-dark">
    <tr>
      <th scope="col">Domain Name</th>
      <th scope="col">DN Detail</th>
      <th scope="col">Renew</th>
    </tr>
 </thead>
  <tbody>
        {% for domain in Domains_list %}
            <tr>
                <td>{{ domain.fqdn }} </td>
                <td><a href="/DNDetail/{{ domain.fqdn }}" >DN Detail</a></td>
                <td><a href="/preDNRenew/{{fqdn}}" >Renew</a></td>
            </tr>
        {% endfor %}	
    </tbody>
    </table>
</div>

<br />
<div class='footer'>

<a href="{% url 'logout' %}?next=/accounts/login/">Logout</a>

</div>
<br />
<hr>
Debug:<br />
{{ DEBUG }}
<br>

</body>
</html>
